.page {
    width: 100%;
    height: 75px;
    background-color: #1d3d51;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content: center;
    position: absolute;
}

.page h3 {
    color:whitesmoke;
}