@import "./colors.css";

.page {
    height: auto;
    margin: 0 auto;
    background-color: var(--blue);
    margin-bottom: 4rem;
    padding: 5rem 0rem;
    display: grid;
    grid-template-columns: 2fr;
    align-items:center;
}

.page h1 {
    margin: 0 0 2rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.page h1 span:first-child {
    font-size: 6.5rem;
}

.page h1 span:nth-child(2) {
    font-size: 2.5rem;
}

.page h1 span:nth-child(3) {
    font-size:1.5rem;
}

.page button {
    font-size: 1.2rem;
}

.page .buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

@media screen and (min-width: 768px) {
    .page div:first-child {
        margin-left: 5rem;
    }
}


@media screen and (max-width: 768px) {
    .page {
        padding: 4rem 2rem;
    }
    .page h1 span:first-child {
        font-size: 4rem;
    }
    .page h1 span:nth-child(2) {
        font-size: 1.3rem;
    }
    
    .page h1 span:nth-child(3) {
        font-size:1rem;
    }

    .page .buttons {
        flex-direction: column;
        max-width: 300px;
    }
}