@import "./colors.css";

.page {
    height: auto;
    margin: 0 auto;
    background-color: var(--blue);
    margin-bottom: 4rem;
    padding: 5rem 0rem;
    display: grid;
    grid-template-columns: 2fr;
    align-items:center;
}

.page span:first-child {
    font-size: 6rem;
}

.page span:last-child {
    font-size: 3rem;
}

.page h1 {
    margin: 0 0 3rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .page div {
        max-width: 650px;
        margin-left: 5rem;
    }
}


@media screen and (max-width: 768px) {
    .page {
        padding: 4rem 2rem;
    }
    .page span:first-child {
        font-size: 3.5rem;
    }
    .page span:last-child {
        font-size: 2.5rem;
    }
}