@import './colors.css';

.page {
    width: 100%;
    height: 135px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index:2;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid whitesmoke;
    padding: 1rem 3rem;
}

.navbar {
    height: 100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    padding: 0 .4rem;
}

.page button, .page a  {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    transition: .4s;
    text-decoration: none;
}

.page a {
    color:  black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li a:hover, .mobile li a:hover {
    color: var(--purple);
}

.hamburger {
    z-index:10;
    display:none;
}

.mobile {
    display:none;
}

@media screen and (max-width: 768px) {

    .page {
        padding: 1rem 1rem;
    }


    .image {
        max-width:255px;
        height: auto;
    }
    
    .hamburger {
        display:block;
        align-self:center;
    }

    .navbar {
        display: none;
    }

    .mobile {
        display:flex;
        position:absolute;
        width: 100vw;
        height: 100vh;
        background-color:whitesmoke;
        opacity: 0.96;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        list-style-type: none;
        top: 0;
        left: 0;
    }

    .mobile li { 
        margin: 1.6rem 0;
    }

    .mobile li a {
        font-size: 2rem;
    }
}