.page {
    width: 100%;
    height: 135px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index:2;
    display: flex;
    justify-content: space-between;
}

.navbar {
    height: 100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 5vw;
}

.navbar li {
    padding: 0 .4rem;
}

.navbar li a {
    text-decoration: none;
    color: whitesmoke;
}

button  {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.1rem;
    color:  #1d3d51;
    font-weight: 600;
    transition: .4s;
}

.navbar li button:hover, .mobile li button:hover {
    color: #5CDB95;
}

.hamburger {
    z-index:10;
    display:none;
}

.mobile {
    display:none;
}

@media screen and (max-width: 768px) {

    .image {
        max-width:285px;
        height: auto;
    }
    
    .hamburger {
        display:block;
        align-self:center;
        margin-right:2rem;
    }

    .navbar {
        display: none;
    }

    .mobile {
        display:flex;
        position:absolute;
        width: 100vw;
        height: 100vh;
        background-color:whitesmoke;
        opacity: 0.9;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        list-style-type: none;
    }

    .mobile li { 
        margin: 1.6rem 0;
    }

    .mobile li button {
        font-size: 2rem;
    }
}