.page {
    width: 100%;
    height: 135px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index:2;
    display: flex;
    justify-content: space-between;
}

.page svg {
    height: 100%;
}

.page div {
    display: grid;
    align-items: center;
    padding-right: 5vw;
}


.page ul {
    height: 100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 5vw;
}

.page ul li {
    padding: 0 .4rem;
}

.page ul li a {
    text-decoration: none;
    color: whitesmoke;
}

.page li button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.1rem;
    color:  #1d3d51;
    font-weight: 600;
    transition: .4s;
}

.page li button:hover {
    color: #5CDB95;
}

.hamburger {
    display:none;
    width: 120px;
    height: 28px;
    align-self: center;
    text-align:center;
    font-size: 1.6rem;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    /* 
    .page {
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .page ul {
        flex-direction: column;
        justify-content:center;
    }

    .page ul li {
        padding-top: 1rem;
    }

    .page svg {
        height: auto;
    }

    .page button {
        display:flex; 
    } 
    */

    .hamburger {
        display:block;
        z-index:3;
    }

    .page ul {
        display: none;
    }

    .page svg {
        z-index:4;
    }

    .mobile {
        z-index:3;
        background-color: whitesmoke;
        opacity: 0.9;
        height: 100vh;
        width: 100vw;
        position: absolute;
    }

    .mobile ul {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mobile ul li { 
        margin: 1.6rem 0;
    }

    .mobile ul li button {
        font-size: 2rem;
    }
}